source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp2.0

nuget FSharp.Core
nuget Microsoft.AspNetCore.All 2.0.5
nuget WebSharper
nuget WebSharper.AspNetCore
nuget WebSharper.FSharp
nuget WebSharper.UI